

.festival_main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.festival_main_one {
    width: 23.5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.festival_main_one img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.festival_main_one span:nth-of-type(1) {
    font-size: 18px;
    color: #333;
    margin: 15px 0;
}

.festival_main_one span:nth-of-type(2) {
    font-size: 12px;
    color: #666;
}